body {
	width: 100%;
	background-color: white;
	background-image: url(../images/ep_naturalwhite.png)
}

header {
  	height: 120px;
  	background-color: white;
  	margin-top: 10px;
}

* {
	box-sizing: border-box;
}

.clearfix: after {
  content: "";
  display: block;
  clear: both;
}

.bigdiv {
	width: 960px;
	margin: 40px auto;
	margin-bottom: 150px;
}

.myname {
	background-color: #4aaaa5;
	height: 120px;
	width: 225px;
	margin-left: 150px;
	text-align: center;
	color: white;
	font-size: 40px;
	float: left;
	font-family: Impact, "Charcoal", sans-serif;
}

.indexsection {
	background-color: white;
	float: left;
}

.contentarea {
	width: 650px;
	float: left;
}

.aboutme {
	text-align: left;
	font-size: 40px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin-bottom: 30px;
	padding: 10px;
	color: #4aaaa5;
}

#dapper {
	height: 200px;
	width: 200px;
	padding: 10px;
}

.p1 {
	padding: 10px;
}

.contactsdiv {
	width: 650px;
	float: left;
	background-color: white;
	padding: 20px;
}

.connect {
	text-align: center;
	font-size: 30px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.heading1 {
	text-align: left;
	font-size: 40px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding: 10px;
	color: #4aaaa5;
}

.interests {
	width: 500px;
	background-color: white;
	padding: 10px;
	
}

.portfoliodiv {
	width: 500px;
	background-color: white;
	float: left;
}

.contactsh1 {
	font-size: 40px;
	color: #4aaaa5;
}

input {
	width: 100%;
	padding: 5px;
}

.message {
	height: 160px;
}

.submitbutton {
	margin-left: 10px;
	float: left;
	margin-top: 20px;
}


#bigfilm {
	height: 40px;
	width: 200px;
	position: absolute;
	z-index: 101;
	background-color: #4aaaa5;
	color: white;
	font-size: 30px;
	text-align: center;
}

#film {
	height: 200px;
	width: 200px;
	position: relative;
}

#bigdog {
	height: 40px;
	width: 200px;
	position: absolute;
	z-index: 102;
	background-color: #4aaaa5;
	color: white;
	font-size: 30px;
	text-align: center;
}

#dog {
	height: 200px;
	width: 200px;
	position: relative;
}

#bighistory {
	height: 40px;
	width: 200px;
	position: absolute;
	z-index: 103;
	background-color: #4aaaa5;
	color: white;
	font-size: 30px;
	text-align: center;
}

#Normandybeach {
	height: 200px;
	width: 200px;
	position: relative;
}

#bigsoccer {
	height: 40px;
	width: 200px;
	position: absolute;
	z-index: 104;
	background-color: #4aaaa5;
	color: white;
	font-size: 30px;
	text-align: center;
}

#soccer {
	height: 200px;
	width: 200px;
	position: relative;
}

#bigspace {
	height: 40px;
	width: 200px;
	position: absolute;
	z-index: 105;
	background-color: #4aaaa5;
	color: white;
	font-size: 30px;
	text-align: center;
}

#space {
	height: 200px;
	width: 200px;
	position: relative;
}


aside {
	text-align: center;
	float: right;
	background-color: white;
	height: 150px;
	width: 270px;
	padding: 10px;
	color: #4aaaa5;
}

nav {
	float: right;
	height: 50px;
	padding: 20px;
	margin-right: 20px;
	background-color: white;
}

a {
	text-decoration: none;
	background-color: #4aaaa5;
	font-family: Courier;
	padding: 5px;
	color: white;
}

a:hover {
	background-color: #d2a679;  
	color: white;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #777;
  text-align: center;
}
